

<div class="row conocenos ">
	<div class="col-md-12 banner-row">
		<img class="img-responsive" src="assets/imagenes/conocenos/banner_conocenos.jpg" />

	</div>
</div>


<div class="mision_vision">
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<h3 class="titulo-conocenos" >misión</h3>
			<p class="contenido-conocenos" >Crear experiencias únicas que marquen el comienzo de una nueva etapa, darles la oportunidad de construir un nuevo sueño en realidad y que su imagen sea el pilar fundamental en su vida </p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-3">
			<h3 class="titulo-conocenos" >visión</h3>
			<p class="contenido-conocenos" >
				darle a nuestros clientes lo que realmente necesitan, personalizando su trato como verdaderos invitados de honor.
				Ser dueños de su proceso de cambio y entender que el mundo de la moda es más que una simple tendencia.
				Crear historias únicas y acompañar ese proceso de cambio físico , emocional e intelectual.
			</p>
		</div>
	</div>
</div>






<div class="isabel_chavez">
	<div class="row">
		<div class="row">
			<div class="col-md-12">
				<h3 class="titulo-conocenos" style="color: #f2be3a;text-align: center;" >Isabel chavez</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-2">
				<img class="img-responsive" src="assets/imagenes/conocenos/isabel_chavez.jpg" />
			</div>
			<div class="col-md-3 ">
				<p class="contenido-conocenos" style="margin-left: -80px;" >

					<ul class="contenido-conocenos" >
						<li class="titulo-listado" >Estudios académico</li>
						<li> Escuela  Eloy alfaro</li>
						<li> Colegio nacional 9 de octubre </li>
						<li> bachiller en quimico-biologo</li>
						<li> Universidad C atolica de Santiago de Guayaquil </li>
						<li> ICAIM </li>
						<li> certificado en  </li>
						<li> idioma Chino Madarin Ejecutivo</li>
						<li> Ingles</li>
						<li> Facultad de Especialidades Empresariales  (FEE)  </li>
						<li> Ingenieria en Marketing.</li>
						<li> Esperanza Ferra Soto </li>
						<li> Maestra en comestologia  2013-2015</li>
						<li> Escuela Italiana Di Moda Burgo</li>
						<li> Diseño y Estilismo de MODA</li>

					</ul>

				</p>



			</div>

		</div>
	</div>
</div>


<div class="isabel_chavez">
	<div class="row">


		<div class="col-md-4 col-md-offset-2">

			<p class="contenido-conocenos" >

				<ul class="contenido-conocenos" >
					<li class="titulo-listado" >Cursos y trabajos realizados realizados</li>
					<li>Artilleria Bolivar Defensa Personal (jiu jitsu)  2000-2002</li>
					<li>Escuela de Danza y Modelaje Christel Cobos (Machala)   1998-2002</li>
					<li>Oratoria Dr. Javier cuenca garcia  2001-2004</li>
					<li>Seminario Practico de balet Municipio de Machala    2005</li>
					<li>Casa de la cultura “Benjamin Carrion” Machala  (ballet y danza folklorica) 2002-2006</li>
					<li>Presentadora de Noticias y entretenimiento Cambio Plus Tv Machala, 2005-2006</li>
					<li>Academia Rene (certificacion en  belleza)  30-09-2006</li>
					<li>CN  modelos<br>Modelo profesional <br>Modelo publicitaria  de promoción #15 14-12-2007</li>
					<li>Carlos Salazar (Direccion  de fotografia)  02-2008</li>
					<li>Diosas Escuela de Misses (asesoria de imagen)  2012-2013</li>
					<li>Ana Torrejon : Comunicacion de moda, Argentina  13-11-2014</li>
					<li>Maximiliano Pizzi y Federico Laboureau,  top model mexico :Direccion de moda, 10-2014</li>
					<li>Estudio de Belleza  Eloy nuñez Argentina (maquillaje profesional)  11-2014</li>
					<li>Summer Khouzami Institute sarl. master classe en maquillaje 19-11-2014</li>
					<li>Seminario Municipio de Machala Ballet y Danza folklorica, 02-2014</li>
					<li>Academia y agencia de modelos Tc  model’s (directora e instructora ) 2010-1012</li>

					<li>Certificado de calidad de servicio  <br/>Conferencista colombiano Gustavo Gaitan Thornee<br/>Capacitacion & Markenting Directo Internacional  2-10-2010</li>

					<li>Escuela de Moda IMODAE Mexico <br>Comunicacion y Gestion de Marcas</li>
					<li>Congreso De Moda<br>ELLE - UNIVERSIDAD LA SALLE – Loreal Paris<br>Biani Navarro</li>
					<li>Fashion Week  Mexico – Boosterwaise<br>Negocios Digitales de Moda</li>
					<li>ACTUACION<br>Gerardo de Salas</li>
					<li>Media Trainer<br>Ignacio Serna. De Serna P.R.</li>

				</ul>



			</p>



		</div>


		<div class="col-md-4 ">
	<br>
	<br>
	<br>
	<br>
	<br>

			<img class="img-responsive" src="assets/imagenes/conocenos/bio.jpg" />
		</div>

	</div>
</div>


<div class="isabel_chavez">
	<div class="row">


		<div class="col-md-4 col-md-offset-2">

			<p class="contenido-conocenos" >



				<ul class="contenido-conocenos" >
					<li class="titulo-listado" >OFICIOS ULTIMOS AÑOS</li>
					<li>ASESORA DE IMAGEN DE STUFIO FOTOGRAFICO <br/>
						STEVENS PALACIOS 2013 - 2016</li>
						<li>Reinado de Manabi<br/>
							Asesoria de imagen   09-2014</li>
							<li>Revista Kleenoil <br/>
								(asesora y maquilladora )  11-2014</li>
								<li>Fuerte Militar Chacras machala<br/>
									Modelo y Maestra de ceremonia,  2007-2009</li>
									<li>Oratoria</li>
									<li>WINTER BEACH HEINEKEN PLAYA DEL CARMEN <br/>
										BLOGGER</li>


									</ul>

								</p>



							</div>


							<div class="col-md-3 ">
								<img class="img-responsive" src="assets/imagenes/conocenos/bio3.jpg" />
							</div>

						</div>
					</div>


					<div class="equipo-trabajo">
						<div class="row">
							<div class="col-md-12 ">
								<h3 class="titulo-conocenos" style="color: #3aa2f2; text-align: center;" >Equipo de trabajo</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-md-offset-3 ">
								<p class="contenido-conocenos"  style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat.</p>
								</div>
							</div>


							<div class="row">
								<div class="col-md-2 col-md-offset-2">
									<img class="thumbnail img-responsive" src="assets/imagenes/conocenos/equipo.jpg">
								</div>
								<div class="col-md-2">
									<img class="thumbnail img-responsive" src="assets/imagenes/conocenos/equipo.jpg">
								</div>
								<div class="col-md-2">
									<img class="thumbnail img-responsive" src="assets/imagenes/conocenos/equipo.jpg">
								</div>
								<div class="col-md-2">
									<img class="thumbnail img-responsive" src="assets/imagenes/conocenos/equipo.jpg">
								</div>
							</div>
						</div>



