 


<!-- 
<div class="row  asesoria">
  <div class="row"   >

    <div class="col-md-12">
      <img class="img-responsive" src="assets/imagenes/home/main_banner2.jpg">
    </div>
  </div>

</div> -->




<div class="row  cosmetologia">
  <div class="row" style="position: absolute;" >
    <div class="col-md-1">

    </div>
    <div class="col-md-7" style="z-index: 999;"  when-visible="animateElementLeft" >
      <h4 class="titulo-cosmetologia" >Asesoría </h4>
      <h1 class="subtitulo-cosmetologia" >estética</h1>
      <p class="contenido-cosmetologia" >
        Nos enfocamos en conseguir dentro de lo posible, la belleza absoluta del cuerpo. Abarca multitud de terapias, invasivas como no, destinadas a modificarlo corrigiendo defectos y destacando virtudes. Como los comenté, gracias a los numerosos y fabulosos avances en este campo, todo el que desee tener una apariencia nueva, jovial y acorde a sus sentimientos encuentra en la estética la solución más acertada
      </p>
      <button  class="btn btn-default boton-negro"  onclick="window.location='#/servicios'" >Conoce más</button>

    </div>
    <div class="col-md-4"></div>
  </div>
  <img   when-visible="animateElementRight"  class="img-responsive" src="assets/imagenes/home/cosmetologia_banner.jpg">

</div>



<!-- 
<div class="row  asesoria">
  <div class="row"   >

    <div class="col-md-8 "   when-visible="animateElementLeft" >
      <img class="img-responsive" src="assets/imagenes/home/cosmetologia_banner.jpg">
    </div>
    <div class="col-md-4"   when-visible="animateElementRight">
     <h4 class="titulo-asesoria" >asesoria</h4>
     <h1 class="subtitulo-asesoria" >estetica</h1>
     <p class="contenido-asesoria" >Nos enfocamos en conseguir dentro de lo posible, la belleza absoluta del cuerpo. Abarca multitud de terapias, invasivas como no, destinadas a modificarlo corrigiendo defectos y destacando virtudes. Como los comenté, gracias a los numerosos y fabulosos avances en este campo, todo el que desee tener una apariencia nueva, jovial y acorde a sus sentimientos encuentra en la estética la solución más acertada


     </p>
     <button type="submit" class="btn btn-default boton-negro">Conoce más</button>
   </div>
 </div>

</div>
 -->




<div class="row  asesoria">
  <div class="row" >
    <div class="col-md-8">
      <img class="img-responsive" src="assets/imagenes/home/asesoria_estitica_banner2.jpg">
    </div>
    <div class="col-md-4"   when-visible="animateElementLeft" >
      <h4 class="titulo-cosmetologia" >Asesoría de </h4>
      <h1 class="subtitulo-asesoria" >Imagen</h1>
      <p class="contenido-cosmetologia" style="width: 100%;" >Mediante la intervención el equipo de asesoría, perseguiremos el propósito de una imagen en armonía con las características físicas y el estilo personal del cliente, potenciando las cualidades, opacando las áreas defectuosas y mejorando determinados aspectos que forman parte de la presencia del individuo como pueden ser la compostura, el saber estar o las actitudes corporales. 
        Con el objetivo de llevar a cabo la optimización del Looking o la Imagen Personal, que resaltamos en esta intervención son:
        <ul class="lista_home" >
          <li> Colorimetría</li>
          <li> Tipos de cuerpos</li>
          <li> Couching</li>
          <li> Personal shopper </li>
          <li> Marketing personal</li>
        </ul>





      </p>
      <button  class="btn btn-default boton-negro"   onclick="window.location='#/servicios'" >Conoce más</button>

    </div>
    
  </div>

</div>






<div class="row  asesoria">
  <div class="row"   >

    <div class="col-md-1"></div>
    <div class="col-md-3"   when-visible="animateElementRight">
     <h4 class="titulo-asesoria" >Diseñadora</h4>
     <!-- <h1 class="subtitulo-asesoria" >Vida</h1> -->
     <p class="contenido-asesoria" >
       <ul class="lista_home" >
        <li> Trajes de baño </li>
        <li> Accesorios </li>
        <li> Ropa</li>
        <li> Bolsas </li>

      </ul>
    </p>
    <button class="btn btn-default boton-negro" onclick="window.location='#/servicios'" >Conoce más</button>
  </div>

  <div class="col-md-8 "   when-visible="animateElementLeft" >
      <img class="img-responsive" src="assets/imagenes/home/disenadora_banner.jpg">
    </div>
</div>

</div>




<div class="row inscripciones " style="padding-bottom: 40px;">
  <h3>inscripción online</h3>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 inscripcion-subtitulo ">
      <p>Suscribete con tu correo electrónico a nuestro sitio y te mantendremos al día de las últimas noticias, eventos, tips de belleza y novedades que tenemos especialmente para tí.</p>
    </div>
  </div>



  <div class="row">
    <div class="col-md-4 col-md-offset-4  ">

      <form>
        <div class="form-group">
          <!-- <label for="exampleInputEmail1">Selecciona un curso</label> -->
          <input type="email" class="form-control form-text" id="exampleInputEmail1" placeholder="Email">
        </div>

    



        <button type="submit" class="btn  boton-negro btn-default enviar">Suscribirse</button>
      </form>

    </div>
  </div>





</div>