<div class="row ">
	<div class="col-md-12 banner-row">
		<img class="img-responsive" src="assets/imagenes/moda/moda_banner.jpg" />
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<ul class="categorias_blog" >
			<li>
				Todas
			</li>
			<li>
				Categoria
			</li>
			<li>
				Categoria
			</li>
			<li>
				Categoria
			</li>
			<li>
				Categoria
			</li>
			<li>
				Categoria
			</li>

		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-md-12">
				<div masonry>
					<div class="masonry-brick imagen-blog" ng-repeat="brick in moda.bricks">
						<img class="img-responsive " ng-src="{{ brick.src }}" alt="A masonry brick">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>