		<div class="row ">
		<div class="col-md-12 banner-row">
			<img class="img-responsive" src="assets/imagenes/servicios/servicios_banner.jpg" />
		</div>
	</div>

	<div class="row servicios">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-3">
					<h3 class="titulo-servicio" >Servicios</h3>

					<ul class="lista-servicios" >
						<li class="categoria" >asesoria estetica </li>
						<li class="subcategoria" ng-class="{selected: item.nombre==servicios.servicio.nombre}"
  ng-repeat="item in servicios.asesoria" ng-click="servicios.servicio = item " >{{  item.nombre }}</li>

					</ul>


<ul class="lista-servicios" >
						<li class="categoria" >Consultoria de imagen </li>
						<li class="subcategoria" ng-class="{selected: item.nombre==servicios.servicio.nombre}"
  ng-repeat="item in servicios.imagen" ng-click="servicios.servicio = item " >{{  item.nombre }}</li>

					</ul>

<ul class="lista-servicios" >
						<li class="categoria" >Diseñadora </li>
						<li class="subcategoria" ng-class="{selected: item.nombre==servicios.servicio.nombre}"
  ng-repeat="item in servicios.disenadora" ng-click="servicios.servicio = item " >{{  item.nombre }}</li>

					</ul>

				 

				 
				</div>


				<div class="col-md-5">
					<h3 class="titulo-categoria" >{{ servicios.servicio.nombre }}</h3>
					<p class="contenido-servicio" ng-bind-html="servicios.servicio.descripcion"  >
						
					</p>
						


				</div>

				<div class="col-md-4">
					<img  class="img-responsive imagen-servicio"  ng-src="{{ servicios.servicio.imagen }}" />
				</div>
			</div>
		</div>
	</div>